<nav class="navbar navbar-expand-lg navbar-white bg-white px-5">
    <div class="container-fluid">
        <a class="navbar-brand text-primary fs-1" href="#">Go</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right justify-content-end" id="navbarNav">
            <ul class="navbar-nav float-right">
                <li class="nav-item">
                    <a class="nav-link text-black fs-4 mx-4" aria-current="page" href="#">Menú 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black fs-4 mx-4" href="#">Menú 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black fs-4 mx-4" href="#">Menú 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black fs-4 mx-4">Menú 4</a>
                </li>
            </ul>
        </div>
    </div>
</nav>